body {
    line-height: 1;
    /*background-color: #4D4160;*/
}
.loginForm{
    -webkit-box-shadow: 3px 4px 75px 0px rgba(64,34,0,1);
    -moz-box-shadow: 3px 4px 75px 0px rgba(64,34,0,1);
    box-shadow: 3px 4px 75px 0px rgba(64,34,0,1);
    float: right;
    margin: 40pt 25px;
    margin-right: 70pt;
    font-size: 25pt;
    font-family: Constantia;
    background: #C4A58D;
    padding: 45pt 30pt;
    border-radius: 20pt;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    position: relative;

    opacity: 0.0;
    animation: porta 1s 1 forwards;
    -webkit-animation: porta 1s 1 forwards;
}
.loginForm:nth-of-type(2){
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}
@keyframes porta {
    0%{
        transform: rotateY(7deg) translateY(5%);
        opacity: 0.0;
    }
    100%{
        transform: rotateY(0deg) translateY(0%);
        opacity: 4.0;
    }
}

@-webkit-keyframes porta {
    0%{
        -webkit-transform: rotateY(7deg) translateY(5%);
        opacity: 0.0;
    }
    100%{
        -webkit-transform: rotateY(0deg) translateY(0%);
        opacity: 1.0;
    }
}

@keyframes reseta {
    0%{}
    50%{}
}

@-webkit-keyframes reseta {
    0%{}
    50%{}
}



.loginTitle{

    float: right;
    margin-left: 70%;
    font-family: Constantia;
    font-size: 60pt;
    color: white ;
    text-shadow: 3px 3px #423022;

    display: inline-block;
    text-transform: uppercase;
    position: relative;

    opacity: 0.0;
    animation: porta 1s 1 forwards;
    -webkit-animation: porta 1s 1 forwards;
}
.loginTitle:nth-of-type(2){
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}
@keyframes porta {
    0%{
        transform: rotateY(7deg) translateY(5%);
        opacity: 0.0;
    }
    100%{
        transform: rotateY(0deg) translateY(0%);
        opacity: 4.0;
    }
}

@-webkit-keyframes porta {
    0%{
        -webkit-transform: rotateY(7deg) translateY(5%);
        opacity: 0.0;
    }
    100%{
        -webkit-transform: rotateY(0deg) translateY(0%);
        opacity: 1.0;
    }
}

@keyframes reseta {
    0%{}
    50%{}
}

@-webkit-keyframes reseta {
    0%{}
    50%{}
}



.divTitleLogin{
    margin-right: 70pt;
    margin-top: 0pt;
    text-align: left;

}
input[type=text] {
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    /* background-color: #65567F;*/
    border-radius: 15pt;
    background-color: white;
    -webkit-box-shadow: inset 0px 4px 24px -6px rgba(120,120,120,1);

    -moz-box-shadow: inset 0px 4px 24px -6px rgba(120,120,120,1);

    box-shadow: inset 0px 4px 24px -6px rgba(120,120,120,1);

}
input[type=password] {
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    /*background-color: #65567F;*/
    border-radius: 15pt;
    background-color: white;
    -webkit-box-shadow: inset 0px 4px 24px -6px rgba(120,120,120,1);

    -moz-box-shadow: inset 0px 4px 24px -6px rgba(120,120,120,1);

    box-shadow: inset 0px 4px 24px -6px rgba(120,120,120,1);

}
input[type=button] {
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #BC967E;
    border-radius: 15pt;
    color: white;
    float: right;
    -webkit-box-shadow: inset 0px 4px 24px -6px rgba(120,120,120,1);
    -moz-box-shadow: inset 0px 4px 24px -6px rgba(120,120,120,1);
    box-shadow: inset 0px 4px 24px -6px rgba(120,120,120,1);

}
.signInText{
    float: right;
}
a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
}
.blog-title {
    margin-top: -1%;
    margin-bottom: 0px;
    text-align: center;
    font-size: 30pt;
    color: white;
    font-family: Constantia;
    margin-left: 28%;
    padding: 5px 2px;
    border-radius: 60px;
    text-shadow: 3px 3.5px #000000;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    float: left;
    opacity: 0.0;
    animation: porta 2s 1 forwards;
    -webkit-animation: porta 2s 1 forwards;
}
.blog-title:nth-of-type(2){
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}
@keyframes porta {
    0%{
        transform: rotateY(7deg) translateY(5%);
        opacity: 0.0;
    }
    100%{
        transform: rotateY(0deg) translateY(0%);
        opacity: 4.0;
    }
}

@-webkit-keyframes porta {
    0%{
        -webkit-transform: rotateY(7deg) translateY(5%);
        opacity: 0.0;
    }
    100%{
        -webkit-transform: rotateY(0deg) translateY(0%);
        opacity: 1.0;
    }
}

@keyframes reseta {
    0%{}
    50%{}
}

@-webkit-keyframes reseta {
    0%{}
    50%{}
}
.sectionsForm{
    text-shadow: 1px 1px  #2C2738;

}
.schoolForm{
    text-align: center;
    padding-bottom: 20px;
}

.button-to-top:hover{  
   #fff !important;   
   bacground-color: #ed702b;  
   text-decoration: none;  
}  

.button-to-top {  
   display: none;  
   position: fixed;   
   bottom: 1rem;   
   right:1rem;  
   width:3.2rem;  
   height: 3.2rem;  
   line-height:3.0rem;   
   font-size:1.4rem;   
   color:#fff;   
   background-color: rgba(0,0,0,0.3);  
   text-decoration: none;   
   border-radius: 3.2rem;   
   text-align: center;   
   cursor: pointer; 
}
